html, body {
    width: 50%;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #b4aee8;
    margin-bottom: 300px;
}

.container {
    width: 360px;
}

h1 {
  font-size: 2.4rem;
  color: #20639b;
  margin-top: 1.5rem;
}

#inputField {
    width: 300px;
    height: 46px;
    border-width: 0;
    border: 1px solid black;
    outline: none;
    font-size: 25px;
    vertical-align: middle;
    margin-top: 1.5rem;
}

#addToDo {
    height: 50px;
    width: 50px;
    border: 1px solid black;
    vertical-align: middle;
    font-size: 30px;
    margin-top: 1.5rem;
}

.paragraph-styling {
    margin: 0;
    cursor: pointer;
    font-size: 20px;
}

.to-dos {
    margin-top: 25px;
}
